<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>873108559705-blhq5hldgph3tbnoiqhei3kmb473obcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873108559705-blhq5hldgph3tbnoiqhei3kmb473obcj</string>
	<key>API_KEY</key>
	<string>AIzaSyCD8Wn5rWGSQTkkvxxAZMrFG2mzk18O1h8</string>
	<key>GCM_SENDER_ID</key>
	<string>873108559705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piromsurang.trackingmyp</string>
	<key>PROJECT_ID</key>
	<string>trackingmyp</string>
	<key>STORAGE_BUCKET</key>
	<string>trackingmyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873108559705:ios:182edf9fa4f794c3</string>
	<key>DATABASE_URL</key>
	<string>https://trackingmyp.firebaseio.com</string>
</dict>
</plist>